<?ifndef Version ?>
  <?define Version = "1.1.0" ?>
<?endif?>
<?ifndef PackageContentsSource ?>
  <?define PackageContentsSource = "PackageContents.xml" ?>
<?endif?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Package Name="Airfoil Splines"
             Manufacturer="Michael Reeg"
             Version="$(var.Version)"
             UpgradeCode="9BFBAD03-1660-4623-B260-D14E575ED458"
             Scope="perMachine">

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <!-- Detect only: never remove AF as part of an AS upgrade. -->
        <Upgrade Id="F0E1D2C3-B4A5-9687-7869-5A4B3C2D1E0F">
            <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes"
                            OnlyDetect="yes" Property="LEGACY_AF_MSI" />
        </Upgrade>
        <!-- Uninstall must remain possible even if AF was installed afterwards. -->
        <Launch Condition='REMOVE~="ALL" OR NOT (LEGACY_AF_MSI)'
                Message="The legacy add-in is installed. AirfoilSplines (AS) cannot coexist with it. Please uninstall the legacy add-in through Windows Settings > Apps, then run this installer again. For a manual installation, remove the legacy add-in from Fusion and its installation folder first." />


        <!-- Disable rollback to avoid Windows permission issues with \config.msi on non-C: drives -->
        <InstallExecuteSequence>
            <DisableRollback After="InstallInitialize" />
        </InstallExecuteSequence>

        <!-- Simple UI -->
        <ui:WixUI Id="WixUI_Minimal" />
        <UIRef Id="WixUI_ErrorProgressText" />
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />


        <!-- Check if Fusion is running and warn user -->
        <util:CloseApplication Id="CloseFusion360"
                               Target="Fusion360.exe"
                               CloseMessage="yes"
                               PromptToContinue="yes"
                               Description="Fusion is currently running. Please close it before continuing to ensure all files can be removed properly." />

        <!-- Application Icon -->
        <Icon Id="icon.ico" SourceFile="../resources/AirfoilSplinesCommand/favicon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <!-- Properties for RemoveFolderEx - read paths from registry (set during install) -->
        <Property Id="INSTALLFOLDER_PATH" Secure="yes">
            <RegistrySearch Id="FindInstallFolder" Root="HKCU" Key="Software\FusionAddins\AirfoilSplines" Name="InstallPath" Type="raw" />
        </Property>
        <Property Id="CONTENTSFOLDER_PATH" Secure="yes">
            <RegistrySearch Id="FindContentsFolder" Root="HKCU" Key="Software\FusionAddins\AirfoilSplines" Name="ContentsPath" Type="raw" />
        </Property>

        <!-- Directory Structure -->
        <StandardDirectory Id="AppDataFolder">
            <Directory Id="AutodeskDir" Name="Autodesk">
                <Directory Id="ApplicationPluginsDir" Name="ApplicationPlugins">
                    <Directory Id="INSTALLFOLDER" Name="AirfoilSplines.bundle">
                        <Directory Id="ContentsFolder" Name="Contents" />
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        <!-- Components -->
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="PackageContentsXml" Guid="DCE99E2D-A6B5-480C-9CD3-43113E1970CE">
                <File Id="PackageContents.xml" Name="PackageContents.xml" Source="$(var.PackageContentsSource)" KeyPath="yes" />
                <RegistryValue Root="HKCU" Key="Software\FusionAddins\AirfoilSplines" Name="installed" Type="integer" Value="1" Action="write" />
                <!-- Store actual paths in registry for uninstall to find -->
                <RegistryValue Root="HKCU" Key="Software\FusionAddins\AirfoilSplines" Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" Action="write" />
                <RegistryValue Root="HKCU" Key="Software\FusionAddins\AirfoilSplines" Name="ContentsPath" Type="string" Value="[ContentsFolder]" Action="write" />
                <!-- RemoveFolderEx removes the folder and ALL contents including runtime-created files -->
                <util:RemoveFolderEx Id="RemoveINSTALLFOLDER" On="uninstall" Property="INSTALLFOLDER_PATH" />
            </Component>
            <!-- Remove ContentsFolder on uninstall -->
            <Component Id="ContentsFolderCleanup" Guid="325D58F2-6982-4A5C-A98D-524F10A7EB51" Directory="ContentsFolder">
                <RegistryValue Root="HKCU" Key="Software\FusionAddins\AirfoilSplines\Folders" Name="ContentsFolder" Type="integer" Value="1" Action="write" KeyPath="yes" />
                <util:RemoveFolderEx Id="RemoveContentsFolder" On="uninstall" Property="CONTENTSFOLDER_PATH" />
            </Component>
        </ComponentGroup>

        <!-- The actual add-in files are harvested into this group -->
        <Feature Id="MainFeature" Title="Airfoil Splines" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="HarvestedAddInFiles" />
        </Feature>
    </Package>
</Wix>
